# Exercises on pandas Basics

## 1. Getting Started
We first import `pandas` and load a table into a DataFrame.

In [61]:
import pandas as pd

countries = pd.read_csv('large_countries_2015.csv', index_col=0)

In [62]:
%matplotlib inline

## 2. Working with DataFrames
To view the contents of a data frame, type its name:

In [63]:
countries

                 population  fertility      continent
Bangladesh     1.609956e+08       2.12           Asia
Brazil         2.078475e+08       1.78  South America
China          1.376049e+09       1.57           Asia
India          1.311051e+09       2.43           Asia
Indonesia      2.575638e+08       2.28           Asia
Japan          1.265735e+08       1.45           Asia
Mexico         1.270172e+08       2.13  North America
Nigeria        1.822020e+08       5.89         Africa
Pakistan       1.889249e+08       3.04           Asia
Philippines    1.006994e+08       2.98           Asia
Russia         1.434569e+08       1.61         Europe
United States  3.217736e+08       1.97  North America

**Columns --> Series**

**Index --> Special column with no name, doesn't have to be unique**

## 3. Examining DataFrames
Match the Python commands with the descriptions below. 

*In Jupyter, you can move the descriptions up/down with the arrow buttons.*

#### Show the first 3 lines

In [64]:
countries.head(3)

              population  fertility      continent
Bangladesh  1.609956e+08       2.12           Asia
Brazil      2.078475e+08       1.78  South America
China       1.376049e+09       1.57           Asia

#### Show the last 3 lines

In [65]:
countries.tail(3)

                population  fertility      continent
Philippines    100699395.0       2.98           Asia
Russia         143456918.0       1.61         Europe
United States  321773631.0       1.97  North America

In [66]:
# countries = countries.sort_index(ascending=False)

#### Summarize all numerical columns

In [67]:
countries.describe()

         population  fertility
count  1.200000e+01  12.000000
mean   3.753462e+08   2.437500
std    4.565194e+08   1.200781
min    1.006994e+08   1.450000
25%    1.393470e+08   1.737500
50%    1.855634e+08   2.125000
75%    2.736163e+08   2.567500
max    1.376049e+09   5.890000

#### Mean of a column

In [68]:
countries['population'].mean()

375346161.6666667

#### Summarize categorical data

In [69]:
countries['continent'].value_counts()

Asia             7
North America    2
Europe           1
Africa           1
South America    1
Name: continent, dtype: int64

#### Number of rows and columns

In [70]:
countries.shape

(12, 3)

#### Extract distinct values

In [71]:
countries['continent'].unique()

array(['Asia', 'South America', 'North America', 'Africa', 'Europe'],
      dtype=object)

In [72]:
#floor division (//) ---> without the remainder
countries['population'] // 1000000

Bangladesh        160.0
Brazil            207.0
China            1376.0
India            1311.0
Indonesia         257.0
Japan             126.0
Mexico            127.0
Nigeria           182.0
Pakistan          188.0
Philippines       100.0
Russia            143.0
United States     321.0
Name: population, dtype: float64

#### Apply a calculation to each value in a column

## 4. Selecting rows and columns
Match the Python commands with the descriptions below.

#### Display column labels

In [73]:
countries.columns

Index(['population', 'fertility', 'continent'], dtype='object')

#### Display row index

In [74]:
countries.index

Index(['Bangladesh', 'Brazil', 'China', 'India', 'Indonesia', 'Japan',
       'Mexico', 'Nigeria', 'Pakistan', 'Philippines', 'Russia',
       'United States'],
      dtype='object')

#### Select one column

In [80]:
countries['continent']
### Returns a series

Bangladesh                Asia
Brazil           South America
China                     Asia
India                     Asia
Indonesia                 Asia
Japan                     Asia
Mexico           North America
Nigeria                 Africa
Pakistan                  Asia
Philippines               Asia
Russia                  Europe
United States    North America
Name: continent, dtype: object

#### Select multiple columns

In [85]:
countries[['population', 'continent']]

                 population      continent
Bangladesh     1.609956e+08           Asia
Brazil         2.078475e+08  South America
China          1.376049e+09           Asia
India          1.311051e+09           Asia
Indonesia      2.575638e+08           Asia
Japan          1.265735e+08           Asia
Mexico         1.270172e+08  North America
Nigeria        1.822020e+08         Africa
Pakistan       1.889249e+08           Asia
Philippines    1.006994e+08           Asia
Russia         1.434569e+08         Europe
United States  3.217736e+08  North America

#### Select row by an index value

In [97]:
countries.loc['India']

population    1.31105e+09
fertility            2.43
continent            Asia
Name: India, dtype: object

In [91]:
# countries.set_index('continent').loc['Asia']

In [101]:
countries.iloc[3:7] #grab all the rows from 3 to 7

             population  fertility      continent
India      1.311051e+09       2.43           Asia
Indonesia  2.575638e+08       2.28           Asia
Japan      1.265735e+08       1.45           Asia
Mexico     1.270172e+08       2.13  North America

#### Select rows by slicing the index

In [103]:
countries.iloc[5,1]

1.45

In [120]:
# countries.loc['Japan', 'fertility']

In [112]:
# (countries['fertility'] >= 1.45) & (countries['fertility'] < 1.46)

#### Filter rows by a condition

In [119]:
mask = countries['population'] > 200_000_000
countries[mask]

                 population  fertility      continent
Brazil         2.078475e+08       1.78  South America
China          1.376049e+09       1.57           Asia
India          1.311051e+09       2.43           Asia
Indonesia      2.575638e+08       2.28           Asia
United States  3.217736e+08       1.97  North America

#### Extract raw data as a NumPy array

In [126]:
countries.values

array([[160995642.0, 2.12, 'Asia'],
       [207847528.0, 1.78, 'South America'],
       [1376048943.0, 1.57, 'Asia'],
       [1311050527.0, 2.43, 'Asia'],
       [257563815.0, 2.28, 'Asia'],
       [126573481.0, 1.45, 'Asia'],
       [127017224.0, 2.13, 'North America'],
       [182201962.0, 5.89, 'Africa'],
       [188924874.0, 3.04, 'Asia'],
       [100699395.0, 2.98, 'Asia'],
       [143456918.0, 1.61, 'Europe'],
       [321773631.0, 1.97, 'North America']], dtype=object)

## 5. Summarizing Data
Match the Python commands with the descriptions below.

In [ ]:
countries['fertility'].cumsum()

In [ ]:
countries.groupby('continent')['population'].sum()

In [ ]:
countries.sort_values(by=['continent', 'fertility'])

In [ ]:
def get_initial(s):
    return s[0]

countries['initial'] = countries['continent'].apply(get_initial)
countries

In [ ]:
countries.stack()

In [ ]:
countries.transpose()

In [ ]:
countries['fertility'].hist()

In [ ]:
countries.plot('population', 'fertility', style='ro')

#### Draw a scatterplot

#### Move columns to a new index level

#### Create a new column using a function

#### Draw a histogram

#### Cumulatively apply a sum over a column

#### Swap rows and columns

#### Calculate sum of one column grouped by a second one

#### Sort values

## License
(c) 2017 Kristian Rother
Distributed under the conditions of the MIT License.