In [1]:
!pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in /anaconda3/lib/python3.7/site-packages (1.3.1)

In [13]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.8.4.tar.gz (377 kB)
     |████████████████████████████████| 377 kB 1.1 MB/s
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.8.4-cp37-cp37m-macosx_10_7_x86_64.whl size=139296 sha256=0db3bf162936007d91eff68c434e81f6bec12a7ad05d73975b272f4ab6f83ced
  Stored in directory: /Users/iremn/Library/Caches/pip/wheels/e5/95/7b/9065a4dfe97a9b0e458215ea04fa87c169e20c9bddf49f766a
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.8.4

In [14]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.8.4-cp37-cp37m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 578 kB/s
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.4

In [15]:
from sqlalchemy import create_engine

In [16]:
HOST = 'localhost'
PORT = '5432'
USERNAME = 'iremn'
PASSWORD = 'SpicyChicken'
DB = 'northwind'

In [17]:
conn_string = f'postgres://{USERNAME}:{PASSWORD}@{HOST}:{PORT}/{DB}'
conn_string_mac = f'postgres://{HOST}:{PORT}/{DB}'

In [18]:
conn_string_mac

'postgres://localhost:5432/northwind'

In [20]:
engine = create_engine(conn_string_mac)

In [21]:
query =  """

CREATE TABLE newtable(
col_1 VARCHAR(50),
col_2 INT,
col_3 REAL
);
"""
engine.execute(query)

In [22]:
import pandas as pd

In [23]:
df = pd.read_csv('/Users/iremn/PythonClass/Spiced/Personal_Projects/Northwind/northwind_data_clean/data/orders.csv')

In [25]:
df.head()

,orderID,customerID,employeeID,orderDate,requiredDate,shippedDate,shipVia,freight,shipName,shipAddress,shipCity,shipRegion,shipPostalCode,shipCountry
0,10248,VINET,5,1996-07-04 00:00:00.000,1996-08-01 00:00:00.000,1996-07-16 00:00:00.000,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,NaN,51100,France
1,10249,TOMSP,6,1996-07-05 00:00:00.000,1996-08-16 00:00:00.000,1996-07-10 00:00:00.000,1,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,NaN,44087,Germany
2,10250,HANAR,4,1996-07-08 00:00:00.000,1996-08-05 00:00:00.000,1996-07-12 00:00:00.000,2,65.83,Hanari Carnes,Rua do Paço 67,Rio de Janeiro,RJ,05454-876,Brazil
3,10251,VICTE,3,1996-07-08 00:00:00.000,1996-08-05 00:00:00.000,1996-07-15 00:00:00.000,1,41.34,Victuailles en stock,2 rue du Commerce,Lyon,NaN,69004,France
4,10252,SUPRD,4,1996-07-09 00:00:00.000,1996-08-06 00:00:00.000,1996-07-11 00:00:00.000,2,51.30,Suprêmes délices,Boulevard Tirou 255,Charleroi,NaN,B-6000,Belgium

In [26]:
df.to_sql('orders_pandas', engine)

In [41]:
timestamp_cols = ['orderDate', 'requiredDate', 'shippedDate']

In [42]:
for cols in timestamp_cols:
    query2 = f"""
    ALTER TABLE orders_pandas ALTER COLUMN "{cols}" TYPE TIMESTAMP without TIME ZONE USING "{cols}"::timestamp without time zone;
    """
    engine.execute(query2)