In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv('large_countries_2015.csv')

In [5]:
df

       Unnamed: 0    population  fertility      continent
0      Bangladesh  1.609956e+08       2.12           Asia
1          Brazil  2.078475e+08       1.78  South America
2           China  1.376049e+09       1.57           Asia
3           India  1.311051e+09       2.43           Asia
4       Indonesia  2.575638e+08       2.28           Asia
5           Japan  1.265735e+08       1.45           Asia
6          Mexico  1.270172e+08       2.13  North America
7         Nigeria  1.822020e+08       5.89         Africa
8        Pakistan  1.889249e+08       3.04           Asia
9     Philippines  1.006994e+08       2.98           Asia
10         Russia  1.434569e+08       1.61         Europe
11  United States  3.217736e+08       1.97  North America

In [6]:
df.columns = ['country', 'population', 'fertility', 'continent']

In [7]:
df

          country    population  fertility      continent
0      Bangladesh  1.609956e+08       2.12           Asia
1          Brazil  2.078475e+08       1.78  South America
2           China  1.376049e+09       1.57           Asia
3           India  1.311051e+09       2.43           Asia
4       Indonesia  2.575638e+08       2.28           Asia
5           Japan  1.265735e+08       1.45           Asia
6          Mexico  1.270172e+08       2.13  North America
7         Nigeria  1.822020e+08       5.89         Africa
8        Pakistan  1.889249e+08       3.04           Asia
9     Philippines  1.006994e+08       2.98           Asia
10         Russia  1.434569e+08       1.61         Europe
11  United States  3.217736e+08       1.97  North America

In [10]:
engine = create_engine('postgres://localhost:5432/countries_db')

In [14]:
df.to_sql('large_countries', engine, if_exists = 'replace')