### How to connect to a Database using Python

#### First, the imports!

In [ ]:
# !pip install SQLAlchemy
# !pip install psycopg2
# !pip install psycopg2-binary

In [1]:
from sqlalchemy import create_engine
import pandas as pd
import os

#### Create a db connection

In [2]:
HOST = 'localhost'
PORT = '5432'
DB = 'movies'

In [3]:
conn_string_mac = f'postgres://{HOST}:{PORT}/{DB}'

In [4]:
engine = create_engine(conn_string_mac)

#### Write csvs to disk - (maybe already done?)

#### Query disk

In [5]:
# Sql command
# Query to db
# Displaying stuff to db and doing stuff

In [6]:
query = input()

 SELECT * FROM MOVIES LIMIT 10;

In [7]:
result = engine.execute(query)

In [ ]:
result

In [8]:
result_list = result.fetchall() # returns a list

In [9]:
result_list[:3]

[(1, 'Toy Story (1995)', 'Adventure|Animation|Children|Comedy|Fantasy'),
 (2, 'Jumanji (1995)', 'Adventure|Children|Fantasy'),
 (3, 'Grumpier Old Men (1995)', 'Comedy|Romance')]

In [10]:
pd.DataFrame(result_list).set_index(0)

,1,2
0,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy
6,Heat (1995),Action|Crime|Thriller
7,Sabrina (1995),Comedy|Romance
8,Tom and Huck (1995),Adventure|Children
9,Sudden Death (1995),Action
10,GoldenEye (1995),Action|Adventure|Thriller

---

#### Advanced SQLAlchemy - the ORM part! declarative base, sessionmaker, python Queries

In [11]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy import MetaData, Table, create_engine, and_, or_, not_

In [12]:
# Declarative Base - Storage Section for Meta info
# sessionmaker - system which opens a  pipe which connects python to pg, 
#                    stores queries, closes the pipe at the end.

# all handled .execute

In [19]:
base = declarative_base(bind=engine)
Session = sessionmaker(bind=engine)
session = Session()
metadata = base.metadata

dict_keys(['ratings'])

In [26]:
Ratings = Table('ratings', base.metadata, autoload = True)
Movies = Table('movies', base.metadata, autoload = True)
Links = Table('links', base.metadata, autoload = True)
Tags = Table('tags', base.metadata, autoload = True)

In [38]:
# Querying the metadata

In [27]:
metadata = base.metadata

In [29]:
base.metadata.tables.keys()

dict_keys(['ratings', 'movies', 'links', 'tags'])

In [30]:
base.metadata.tables['movies'].columns.keys()

['movieId', 'title', 'genres']

In [31]:
#We have the tables in memory and now we can query them without reading from the disk

In [37]:
session.query(Movies).limit(5).all()

[(1, 'Toy Story (1995)', 'Adventure|Animation|Children|Comedy|Fantasy'),
 (2, 'Jumanji (1995)', 'Adventure|Children|Fantasy'),
 (3, 'Grumpier Old Men (1995)', 'Comedy|Romance'),
 (4, 'Waiting to Exhale (1995)', 'Comedy|Drama|Romance'),
 (5, 'Father of the Bride Part II (1995)', 'Comedy')]

In [39]:
# select * from movies where movies."title" == 'Jumanji'

In [40]:
base.metadata.tables['movies'].columns.keys()

['movieId', 'title', 'genres']

In [44]:
session.query(Movies).filter(Movies.columns.title=='Jumanji (1995)').all()

[(2, 'Jumanji (1995)', 'Adventure|Children|Fantasy')]

---

### Further reading - Flask dedicated SQLAlchemy

`https://flask-sqlalchemy.palletsprojects.com/en/2.x/`