In [285]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [286]:
df_train = pd.read_csv('./train.csv')

In [287]:
#Extend the df by splitting the datetime into new categories
df_train['year'] = df_train.datetime.apply(lambda x: x.split()[0].split('-')[0])
df_train['month'] = df_train.datetime.apply(lambda x: x.split()[0].split('-')[1])
df_train['day'] = df_train.datetime.apply(lambda x: x.split()[0].split('-')[2])
df_train['hour'] = df_train.datetime.apply(lambda x : x.split()[1].split(":")[0])

#Infer Day Name
sr = pd.to_datetime(df_train['datetime']) 
df_train['Day_name'] = sr.dt.day_name()


#Season List 
season_dict = {1: 'Spring', 2: 'Summer', 3: 'Fall', 4: 'Winter'}
df_train['Season_Exp'] = df_train['season'].map(season_dict)

#Weather List
weather_dict = {1:'clear' , 2:'mist' , 3:'light_precip' , 4: 'heavy_precip' }
df_train['Weather_Exp'] = df_train['weather'].map(weather_dict)

#Time List

In [288]:
df_train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour,Day_name,Season_Exp,Weather_Exp
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,01,01,00,Saturday,Spring,clear
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,01,01,01,Saturday,Spring,clear
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,01,01,02,Saturday,Spring,clear
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,01,01,03,Saturday,Spring,clear
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,01,01,04,Saturday,Spring,clear

In [289]:
#Night = 00 - 05
#Morning = 06-09
#Day = 10-16
#Evening =17-23

#night = np.sum(df_train.groupby('hour')['count'].sum()[0:5])
#morning = np.sum(df_train.groupby('hour')['count'].sum()[6:9])
#day = np.sum(df_train.groupby('hour')['count'].sum()[10:16])
#evening = np.sum(df_train.groupby('hour')['count'].sum()[17:23])

NameError: name 'np' is not defined

## Target Encode a Subset of Columns ##

In [290]:
all_columns = list(df_train.columns)

In [291]:
all_columns

['datetime',
 'season',
 'holiday',
 'workingday',
 'weather',
 'temp',
 'atemp',
 'humidity',
 'windspeed',
 'casual',
 'registered',
 'count',
 'year',
 'month',
 'day',
 'hour',
 'Day_name',
 'Season_Exp',
 'Weather_Exp']

In [292]:
df_te_train = df_train

In [293]:
df_te_train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour,Day_name,Season_Exp,Weather_Exp
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,01,01,00,Saturday,Spring,clear
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,01,01,01,Saturday,Spring,clear
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,01,01,02,Saturday,Spring,clear
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,01,01,03,Saturday,Spring,clear
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,01,01,04,Saturday,Spring,clear

In [332]:
#Target Encoding a Subset of columns with MEAN


#Subset of large var list
column_list_to_target_encode = ['Season_Exp', 'Weather_Exp', 'year', 'month', 'Day_name', 'hour']
for column in column_list_to_target_encode:
    target_means = df_te_train.groupby(column).mean()
    df_te_train[f'{column}_te'] = df_te_train[column].replace(target_means['count'])

In [333]:
#List Conventions to define a training dataset

#for Categoricals
te = '_te'
te_list = [x + te for x in column_list_to_target_encode]
te_list

#num_list = ['temp', 'atemp', 'humidity', 'windspeed']
#num_list_3 = ['holiday','workingday', 'atemp', 'windspeed' ]
#te_list.extend(num_list)
te_list
#num_list_3

['Season_Exp_te',
 'Weather_Exp_te',
 'year_te',
 'month_te',
 'Day_name_te',
 'hour_te']

In [334]:
#Define Xtrain and ytrain
Xtrain = df_te_train[te_list]
#Xtrain = Xsub.values.reshape(-1,1)
ytrain = df_te_train['count']

In [335]:
Xtrain

,Season_Exp_te,Weather_Exp_te,year_te,month_te,Day_name_te,hour_te
0,116.343261,205.236791,144.223349,90.366516,196.665404,55.138462
1,116.343261,205.236791,144.223349,90.366516,196.665404,33.859031
2,116.343261,205.236791,144.223349,90.366516,196.665404,22.899554
3,116.343261,205.236791,144.223349,90.366516,196.665404,11.757506
4,116.343261,205.236791,144.223349,90.366516,196.665404,6.407240
5,116.343261,178.955540,144.223349,90.366516,196.665404,19.767699
6,116.343261,205.236791,144.223349,90.366516,196.665404,76.259341
7,116.343261,205.236791,144.223349,90.366516,196.665404,213.116484
8,116.343261,205.236791,144.223349,90.366516,196.665404,362.769231
9,116.343261,205.236791,144.223349,90.366516,196.665404,221.780220
10,116.343261,205.236791,144.223349,90.366516,196.665404,175.092308
11,116.343261,205.236791,144.223349,90.366516,196.665404,210.674725
12,116.343261,205.236791,144.223349,90.366516,196.665404,256.508772
13,116.343261,178.955540,144.223349,90.366516,196.665404,257.787281
14,116.343261,178.955540,144.223349,90.366516,196.665404,243.442982
15,116.343261,178.955540,144.223349,90.366516,196.665404,254.298246
16,116.343261,178.955540,144.223349,90.366516,196.665404,316.372807
17,116.343261,178.955540,144.223349,90.366516,196.665404,468.765351
18,116.343261,118.846333,144.223349,90.366516,196.665404,430.859649
19,116.343261,118.846333,144.223349,90.366516,196.665404,315.278509
20,116.343261,178.955540,144.223349,90.366516,196.665404,228.517544
21,116.343261,178.955540,144.223349,90.366516,196.665404,173.370614
22,116.343261,178.955540,144.223349,90.366516,196.665404,133.576754
23,116.343261,178.955540,144.223349,90.366516,196.665404,89.508772
24,116.343261,178.955540,144.223349,90.366516,180.839772,55.138462
25,116.343261,178.955540,144.223349,90.366516,180.839772,33.859031
26,116.343261,178.955540,144.223349,90.366516,180.839772,22.899554
27,116.343261,178.955540,144.223349,90.366516,180.839772,11.757506
28,116.343261,178.955540,144.223349,90.366516,180.839772,6.407240
29,116.343261,118.846333,144.223349,90.366516,180.839772,76.259341
...,...,...,...,...,...,...
10856,198.988296,205.236791,238.560944,175.614035,189.723847,430.859649
10857,198.988296,205.236791,238.560944,175.614035,189.723847,315.278509
10858,198.988296,205.236791,238.560944,175.614035,189.723847,228.517544
10859,198.988296,205.236791,238.560944,175.614035,189.723847,173.370614
10860,198.988296,205.236791,238.560944,175.614035,189.723847,133.576754
10861,198.988296,205.236791,238.560944,175.614035,189.723847,89.508772
10862,198.988296,205.236791,238.560944,175.614035,188.411348,55.138462
10863,198.988296,205.236791,238.560944,175.614035,188.411348,33.859031
10864,198.988296,205.236791,238.560944,175.614035,188.411348,22.899554
10865,198.988296,205.236791,238.560944,175.614035,188.411348,11.757506
10866,198.988296,205.236791,238.560944,175.614035,188.411348,6.407240
10867,198.988296,205.236791,238.560944,175.614035,188.411348,19.767699
10868,198.988296,205.236791,238.560944,175.614035,188.411348,76.259341
10869,198.988296,205.236791,238.560944,175.614035,188.411348,213.116484
10870,198.988296,205.236791,238.560944,175.614035,188.411348,362.769231
10871,198.988296,205.236791,238.560944,175.614035,188.411348,221.780220
10872,198.988296,205.236791,238.560944,175.614035,188.411348,175.092308
10873,198.988296,205.236791,238.560944,175.614035,188.411348,210.674725
10874,198.988296,205.236791,238.560944,175.614035,188.411348,256.508772
10875,198.988296,205.236791,238.560944,175.614035,188.411348,257.787281
10876,198.988296,205.236791,238.560944,175.614035,188.411348,243.442982
10877,198.988296,205.236791,238.560944,175.614035,188.411348,254.298246
10878,198.988296,205.236791,238.560944,175.614035,188.411348,316.372807
10879,198.988296,205.236791,238.560944,175.614035,188.411348,468.765351
10880,198.988296,205.236791,238.560944,175.614035,188.411348,430.859649
10881,198.988296,205.236791,238.560944,175.614035,188.411348,315.278509
10882,198.988296,205.236791,238.560944,175.614035,188.411348,228.517544
10883,198.988296,205.236791,238.560944,175.614035,188.411348,173.370614
10884,198.988296,205.236791,238.560944,175.614035,188.411348,133.576754
10885,198.988296,205.236791,238.560944,175.614035,188.411348,89.508772

In [336]:
#Scikit Linear Reg
m = LinearRegression()

In [337]:
m.fit(Xtrain, ytrain), m.score(Xtrain, ytrain)

(LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
          normalize=False), 0.6819399746777768)

In [338]:
ypred = m.predict(Xtrain)
mean_squared_error(ytrain, ypred) #Scikit

10435.644494585393

In [339]:
m.coef_ , m.intercept_

(array([0.01746246, 0.96827038, 1.01053979, 1.00791012, 1.06947884,
        1.00640173]), -781.6345896562943)

In [340]:
te_list

['Season_Exp_te',
 'Weather_Exp_te',
 'year_te',
 'month_te',
 'Day_name_te',
 'hour_te']