In [1]:
names = ['Rajnish', 'Geza', 'Juan', 'Irem', 'Amirali']

In [2]:
names

['Rajnish', 'Geza', 'Juan', 'Irem', 'Amirali']

In [3]:
names[0]

'Rajnish'

In [4]:
names[-1]

'Amirali'

In [5]:
names[-2]

'Irem'

In [6]:
names[1:-1]

['Geza', 'Juan', 'Irem']

In [7]:
names[::2]

['Rajnish', 'Juan', 'Amirali']

In [8]:
names[::-1]

['Amirali', 'Irem', 'Juan', 'Geza', 'Rajnish']

In [9]:
import pandas as pd

In [13]:
df = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], index = ['first_row','second_row', 'third_row'], columns = ['first','second', 'third'])

In [14]:
df

            first  second  third
first_row       1       2      3
second_row      4       5      6
third_row       7       8      9

In [16]:
df['first']

first_row     1
second_row    4
third_row     7
Name: first, dtype: int64

In [17]:
df[:]

            first  second  third
first_row       1       2      3
second_row      4       5      6
third_row       7       8      9

In [18]:
df.index

Index(['first_row', 'second_row', 'third_row'], dtype='object')

In [19]:
df.loc['first_row']

first     1
second    2
third     3
Name: first_row, dtype: int64

In [20]:
df.loc['first_row', 'second']

2