In [356]:
import pandas as pd
import numpy as np
from bokeh.io import output_notebook, show, curdoc
from bokeh.plotting import figure
from bokeh.models import ColumnDataSource, CategoricalColorMapper, NumeralTickFormatter, HoverTool, Slider
from bokeh.palettes import Pastel1
from bokeh.layouts import column, widgetbox

from bokeh.themes import Theme
import yaml

In [65]:
output_notebook()

In [66]:
income = pd.read_csv('income_per_person_gdppercapita_ppp_inflation_adjusted.csv', index_col=0)

In [67]:
income.head()

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,603,603,603,603,603,603,603,603,603,603,...,2550,2600,2660,2710,2770,2820,2880,2940,3000,3060
Albania,667,667,667,667,667,668,668,668,668,668,...,19400,19800,20200,20600,21000,21500,21900,22300,22800,23300
Algeria,715,716,717,718,719,720,721,722,723,724,...,14300,14600,14900,15200,15500,15800,16100,16500,16800,17100
Andorra,1200,1200,1200,1200,1210,1210,1210,1210,1220,1220,...,73600,75100,76700,78300,79900,81500,83100,84800,86500,88300
Angola,618,620,623,626,628,631,634,637,640,642,...,6110,6230,6350,6480,6610,6750,6880,7020,7170,7310

In [68]:
child_mortality = pd.read_csv('child_mortality_0_5_year_olds_more_years_version_7.csv', index_col=0)

In [69]:
child_mortality.head()

,1751,1752,1753,1754,1755,1756,1757,1758,1759,1760,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,122.0,119.0,116.0,113.0,110.0,108.0,105.0,103.0,100.0,97.3
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.4,20.4,19.5,18.7,17.9,17.2,16.5,15.9,15.4,14.9
Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,35.1,33.6,32.1,30.7,29.5,28.4,27.4,26.6,25.8,25.2
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,3.9,3.7,3.6,3.5,3.4,3.3,3.2,3.1,3.0
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,207.0,205.0,201.0,197.0,192.0,188.0,182.0,178.0,173.0,167.0

In [70]:
child_mortality = child_mortality.div(1000)

In [71]:
child_mortality.head()

,1751,1752,1753,1754,1755,1756,1757,1758,1759,1760,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.1220,0.1190,0.1160,0.1130,0.1100,0.1080,0.1050,0.1030,0.1000,0.0973
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0214,0.0204,0.0195,0.0187,0.0179,0.0172,0.0165,0.0159,0.0154,0.0149
Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0351,0.0336,0.0321,0.0307,0.0295,0.0284,0.0274,0.0266,0.0258,0.0252
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0040,0.0039,0.0037,0.0036,0.0035,0.0034,0.0033,0.0032,0.0031,0.0030
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.2070,0.2050,0.2010,0.1970,0.1920,0.1880,0.1820,0.1780,0.1730,0.1670

In [72]:
population = pd.read_csv('population_total.csv', index_col=0)

In [73]:
population.head()

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,...,76600000,76400000,76300000,76100000,76000000,75800000,75600000,75400000,75200000,74900000
Albania,400000,402000,404000,405000,407000,409000,411000,413000,414000,416000,...,1330000,1300000,1270000,1250000,1220000,1190000,1170000,1140000,1110000,1090000
Algeria,2500000,2510000,2520000,2530000,2540000,2550000,2560000,2560000,2570000,2580000,...,70400000,70500000,70500000,70600000,70700000,70700000,70700000,70700000,70700000,70700000
Andorra,2650,2650,2650,2650,2650,2650,2650,2650,2650,2650,...,63000,62900,62900,62800,62700,62700,62600,62500,62500,62400
Angola,1570000,1570000,1570000,1570000,1570000,1570000,1570000,1570000,1570000,1570000,...,168000000,170000000,172000000,175000000,177000000,179000000,182000000,184000000,186000000,188000000

In [74]:
population = population.div(100000)

In [75]:
#Stack and join

In [102]:
income_stacked = pd.DataFrame(income.stack())

In [103]:
income_stacked.rename(columns = {0:'income'}, inplace = True)

In [106]:
cm_stacked = pd.DataFrame(child_mortality.stack())

In [107]:
cm_stacked.rename(columns = {0:'child_mortality'}, inplace = True)

In [108]:
pop_stacked = pd.DataFrame(population.stack())

In [109]:
pop_stacked.rename(columns = {0:'population'}, inplace = True)

In [110]:
cm_income_pop = income_stacked.join([cm_stacked, pop_stacked], how='inner')

In [111]:
cm_income_pop = cm_income_pop.sort_index()

In [112]:
cm_income_pop = cm_income_pop.stack()

In [113]:
cm_income_pop.head()

country
Afghanistan  1800  income             603.000
                   child_mortality      0.469
                   population          32.800
             1801  income             603.000
                   child_mortality      0.469
dtype: float64

In [114]:
cm_income_pop_unstacked = cm_income_pop.unstack(level = (0,2))

In [127]:
cm_income_pop_unstacked.head()

country Afghanistan                            Albania                  \
             income child_mortality population  income child_mortality
1800          603.0           0.469       32.8   667.0           0.375
1801          603.0           0.469       32.8   667.0           0.375
1802          603.0           0.469       32.8   667.0           0.375
1803          603.0           0.469       32.8   667.0           0.375
1804          603.0           0.469       32.8   667.0           0.375

country            Algeria                            Andorra  ...    Vietnam  \
        population  income child_mortality population  income  ... population
1800          4.00   715.0            0.46       25.0     NaN  ...       40.0
1801          4.02   716.0            0.46       25.1     NaN  ...       41.0
1802          4.04   717.0            0.46       25.2     NaN  ...       42.0
1803          4.05   718.0            0.46       25.3     NaN  ...       43.1
1804          4.07   719.0            0.46       25.4     NaN  ...       44.1

country  Yemen                            Zambia                             \
        income child_mortality population income child_mortality population
1800     877.0            0.54       25.9  663.0            0.41       7.47
1801     879.0            0.54       25.9  665.0            0.41       7.58
1802     882.0            0.54       25.9  667.0            0.41       7.70
1803     884.0            0.54       25.9  668.0            0.41       7.82
1804     887.0            0.54       25.9  670.0            0.41       7.94

country Zimbabwe
          income child_mortality population
1800       869.0           0.396       10.9
1801       870.0           0.396       10.9
1802       871.0           0.396       10.9
1803       872.0           0.396       10.9
1804       873.0           0.396       10.9

[5 rows x 579 columns]

In [200]:
regions = pd.read_csv('Regions.csv', index_col=0)

In [201]:
regions.head()

,name,four_regions,eight_regions,six_regions,Latitude,Longitude,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
geo,,,,,,,,,,,
afg,Afghanistan,asia,asia_west,south_asia,33.00000,66.00000,NaN,NaN,NaN,NaN,NaN
alb,Albania,europe,europe_east,europe_central_asia,41.00000,20.00000,NaN,NaN,NaN,NaN,NaN
dza,Algeria,africa,africa_north,middle_east_north_africa,28.00000,3.00000,NaN,NaN,NaN,NaN,NaN
and,Andorra,europe,europe_west,europe_central_asia,42.50779,1.52109,NaN,NaN,NaN,NaN,NaN
ago,Angola,africa,africa_sub_saharan,sub_saharan_africa,-12.50000,18.50000,NaN,NaN,NaN,NaN,NaN

In [305]:
region_dict = dict(zip(regions.name, regions.four_regions))

In [306]:
#Create the bokeh data source

In [307]:
dates = np.array(cm_income_pop_unstacked.index, dtype=np.datetime64) # convert date strings to real datetimes

In [210]:
pop = cm_income_pop_unstacked.xs('population', axis=1, level=1)
inc = cm_income_pop_unstacked.xs('income', axis=1, level=1)
cm = cm_income_pop_unstacked.xs('child_mortality', axis=1, level=1)

In [398]:
#Make a new df for (potentially) each year
def year_df(year, odf):
    """
    Make a dataframe for each year
    Parameters:
    -------
    year: year wanted (as string)
    odf: original stacked dataframe
    
    Returns:
    ------
    Dataframe for a given year with additional columns of continent and color code for Bokeh
    """
    year_df = odf.loc[year].unstack()
    year_df['continent'] = year_df.index.map(region_dict)
    year_df['continent'] = year_df['continent'].fillna('unknown')
    year_df = year_df.reset_index()
    year_df['income'] = year_df['income'].astype('float')
    year_df['child_mortality'] = year_df['child_mortality'].astype('float')
    year_df['population'] = year_df['population'].astype('float')
    return year_df

In [399]:
year_df('2007', cm_income_pop_unstacked).columns

Index(['country', 'income', 'child_mortality', 'population', 'continent'], dtype='object')

In [448]:
def bkapp(doc):
    df_new = year_df('1800', cm_income_pop_unstacked)
    source = ColumnDataSource(data=df_new)
    
    #Hover Country
    hover = HoverTool(tooltips='@country')

    #Create a figure
    p = figure(x_axis_type = 'log',plot_width=800, plot_height=400, tools = [hover])


    #Stylistic issues
    p.xaxis[0].formatter = NumeralTickFormatter(format="0")
    p.xaxis.axis_label = 'Population/100000'
    p.yaxis.axis_label = 'Child Mortality/1000 births'
    
    p.xgrid.grid_line_alpha = 0.3
    p.ygrid.grid_line_alpha = 0.3
    
    #p.x_range.start = 0
    p.x_range.end = 20000
    p.y_range.start = -0.1
    p.y_range.end = 0.6


    # Define the callback function: update_plot
    def update_plot(attr,old, new):
        # set the `yr` name to `slider.value` and `source.data = new_data`
        yr = str(slider.value)
        df_new = year_df(yr, cm_income_pop_unstacked)
        data = df_new
        source.data = ColumnDataSource.from_df(data)



    # Make a slider object: slider
    slider = Slider(title='Year',start=int(cm_income_pop_unstacked.index[0]),end=int(cm_income_pop_unstacked.index[-1]),step=1,value=1800)
    # Attach the callback to the 'value' property of slider
    slider.on_change('value', update_plot)

    #Size Mapper for Income adjusted size
    size_mapper = LinearInterpolator(
       x = [df_new.income.min(), df_new.income.max()],
       y = [10,50]
    )

    #Color Mapper for continents
    color_mapper = CategoricalColorMapper(
        factors=list(df_new.continent.unique()),
        palette=Pastel1[6]
    )


    #Circle Figure
    p.circle('population', 'child_mortality', alpha = 0.6, source=source,
             size={'field':'income', 'transform':size_mapper},
            color={'field': 'continent', 'transform': color_mapper},
             legend='continent')

    # Make a row layout of widgetbox(slider) and plot and add it to the current document
    layout = column(widgetbox(slider), p)
    doc.add_root(layout)

In [449]:
show(bkapp)

BokehDeprecationWarning: 'legend' keyword is deprecated, use explicit 'legend_label', 'legend_field', or 'legend_group' keywords instead
BokehDeprecationWarning: 'WidgetBox' is deprecated and will be removed in Bokeh 3.0, use 'bokeh.models.Column' instead