In [ ]:
#Create a set of CountVEctorizer vectors

In [2]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer

In [3]:
songs = ['all you need is love ba ba ba ba love is all you need ',
        'yesterday all my troubles seemed so far away',
        'hey jude dont be afraid take a sad song and make it better',
        'we all live in a yellow submarine',
        'blackbird singing in the dead of night take these broken wings',
        'the best things in life are free but keep them give me money']

In [4]:
#instantiate the CV
#Fit on the text
#Transform the text

In [5]:
cv = CountVectorizer()

In [6]:
cv.fit(songs)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [7]:
word_vector = cv.transform(songs)

In [9]:
word_vector #x by y (where y is unique words within songs)

<6x50 sparse matrix of type '<class 'numpy.int64'>'
	with 56 stored elements in Compressed Sparse Row format>

## Examine dense matrices ##

In [12]:
import pandas as pd

/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [13]:
!pip freeze | grep pandas

pandas==0.24.2

In [14]:
!python --version

Python 3.7.3

In [15]:
df = pd.DataFrame(word_vector.todense(), columns = cv.get_feature_names()) # dense because we save zeros
df

,afraid,all,and,are,away,ba,be,best,better,blackbird,...,the,them,these,things,troubles,we,wings,yellow,yesterday,you
0,0,2,0,0,0,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
1,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,1,0,1,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
4,0,0,0,0,0,0,0,0,0,1,...,1,0,1,0,0,0,1,0,0,0
5,0,0,0,1,0,0,0,1,0,0,...,1,1,0,1,0,0,0,0,0,0

### There is no sense of uniqueness in the cv implementation of vectors ###
### i.e. scale up the word yesterday and down the word all ###

## Calculate the TF-IDF equivalents ##

It applies uniqueness scaling to our CVs. 
Term Frequency (same in as the count vectorizer) times inverse document frequency (log(#of documents in the corpus+1/#docs containing the term+1))
Finally scales the document by its norm (normalizes)

In [23]:
#TF-IDF = TF*IDF
#scale the columns by uniqueness and scale the rows by song size

In [22]:
import numpy as np
np.sum(df['all'])

4

In [24]:
tf = TfidfTransformer()

In [25]:
tf_vectors = tf.fit_transform(word_vector)

In [27]:
df2 = pd.DataFrame(tf_vectors.todense(), columns = cv.get_feature_names()) # dense because we save zeros

In [28]:
df.head(3)

,afraid,all,and,are,away,ba,be,best,better,blackbird,...,the,them,these,things,troubles,we,wings,yellow,yesterday,you
0,0,2,0,0,0,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
1,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,1,0,1,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
df2.head(3)

,afraid,all,and,are,away,ba,be,best,better,blackbird,...,the,them,these,things,troubles,we,wings,yellow,yesterday,you
0,0.000000,0.237751,0.000000,0.0,0.000000,0.686831,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.343416
1,0.000000,0.253146,0.000000,0.0,0.365653,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.365653,0.0,0.0,0.0,0.365653,0.000000
2,0.292698,0.000000,0.292698,0.0,0.000000,0.000000,0.292698,0.0,0.292698,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000

In [33]:
from sklearn.feature_extraction.text import TfidfVectorizer #does everything all at once

In [34]:
tv = TfidfVectorizer()

In [35]:
ex = tv.fit_transform(songs)

In [36]:
ex

<6x50 sparse matrix of type '<class 'numpy.float64'>'
	with 56 stored elements in Compressed Sparse Row format>

In [37]:
df = pd.DataFrame(ex.todense(), columns = tv.get_feature_names()) # dense because we save zeros

In [38]:
df

,afraid,all,and,are,away,ba,be,best,better,blackbird,...,the,them,these,things,troubles,we,wings,yellow,yesterday,you
0,0.000000,0.237751,0.000000,0.000000,0.000000,0.686831,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.343416
1,0.000000,0.253146,0.000000,0.000000,0.365653,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.365653,0.000000,0.000000,0.000000,0.365653,0.000000
2,0.292698,0.000000,0.292698,0.000000,0.000000,0.000000,0.292698,0.000000,0.292698,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.310902,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.449077,0.000000,0.449077,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.319046,...,0.261622,0.000000,0.319046,0.000000,0.000000,0.000000,0.319046,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.286867,0.000000,0.000000,0.000000,0.286867,0.000000,0.000000,...,0.235235,0.286867,0.000000,0.286867,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000