In [ ]:
#"{}".format("Hello")
#"{:10}".format("Hello")
#"{:>10}".format("Hello")
#"{1} {0}".format("first", "second")
#"{:5d}".format(42)
#"{:4.1f}".format(3.14159)
#"{:6.3f}".format(3.14159)

In [1]:
"{}".format("Hello")

'Hello'

In [2]:
"{:10}".format("Hello")

'Hello     '

In [3]:
"{:>10}".format("Hello")

'     Hello'

In [4]:
"{1} {0}".format("first", "second")

'second first'

In [5]:
"{:5d}".format(42)

'   42'

In [6]:
"{:4.1f}".format(3.14159)

' 3.1'

In [7]:
"{:6.3f}".format(3.14159)

' 3.142'

In [8]:
top_ten_names = ['Jacob', 'Michael', 'Matthew', 'Joshua', \
    'Christopher', 'Nicholas', 'Andrew', 'Joseph', \
    'Daniel', 'Tyler']
top_ten_numbers = [34465, 32025, 28569, 27531, \
    24928, 23632, 22818, 22307, 21500]

In [32]:
top_ten_names[0]

'Jacob'

In [40]:
top_ten_numbers

[34465, 32025, 28569, 27531, 24928, 23632, 22818, 22307, 21500]

In [41]:
top_ten_numbers.append(0)

In [42]:
new_list = top_ten_names.append(top_ten_numbers)

In [43]:
top_ten_names[10][1]

32025

In [49]:
for i in range(0,12):
    print ("{:11}".format(top_ten_names[i]),"{:>5}".format(top_ten_names[10][i]))

Jacob       34465
Michael     32025
Matthew     28569
Joshua      27531
Christopher 24928
Nicholas    23632
Andrew      22818
Joseph      22307
Daniel      21500
Tyler           0

TypeError: unsupported format string passed to list.__format__